.card-text-main{
    font-size: 50px;
    color: black;
}
.btn-link-ag{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
.link-choose{
    background-color: #62dce7;
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 50px;
    padding: 0 25px;
    transition: all 200ms;
    text-decoration: none;
}
.link-choose:hover{background-color: #AFE6C3;
    transform: scale(1.05);}

