.btn-change
{
    background-color: #f9d2c0;
border-radius: 50px;
border-width: 0;
box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
color: #000000;
cursor: pointer;
display: inline-block;
font-family: Arial, sans-serif;
font-size: 1em;
height: 30px;
width:140px;
padding: 0 25px;
transition: all 200ms;
}
.btn-change:hover
{
    
background-color: #f3cfbf;
transform: scale(1.05);
}
.btn-get
{
    background-color: #3a3a3a;
border-width: 0;

box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
color: #ffffff;
cursor: pointer;
display: inline-block;
font-family: Arial, sans-serif;
font-size: 1em;
height: 30px;
width:100%;
padding: 0 25px;
transition: all 200ms;
}
.btn-get:hover
{
    
background-color: #3e3e3e;
transform: scale(1.05);
}
.bbb{
    background-color: #e4f5ea;
    text-decoration: dashed;

}
.btn-delete{
    background-color: #f8dad3;
    border-radius: 50px;
border-width: 0;
box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
color: #000000;
cursor: pointer;
display: inline-block;
font-family: Arial, sans-serif;
font-size: 1em;
height: 30px;
width:140px;
padding: 0 25px;
transition: all 200ms;
    
}