.login-button
{
    background-color: #8cdad9;
    border-color:white;
    color: aliceblue;
    width:80%;
    height:100%;
    border-radius: 10px;

} 
.img-updatedoctor
{
    width: 80%;
}
.pass{
    width:80%;
    margin-left:3rem;
}