.card-img-top{
    height: 300px;
}
#book-btn{
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    text-align: center;   
   border:none;
    background: #8cdad9;
    cursor: pointer;
    line-height: normal;
}
.money{
    font-weight: 900;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
}
.main-viewTour{
    background-color: rgb(232, 230, 229);
}
.container-expand-lg{
margin: 2REM;
}
